.filterContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.filterButton {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1rem;

  &:hover {
    border-color: var(--accent-primary);
    color: var(--text-primary);
  }
}

.activeFilter {
  background-color: var(--accent-primary);
  border-color: var(--accent-primary);
  color: var(--accent-text-primary);

  &:hover {
    color: var(--accent-text-primary);
  }
}

[data-theme='dark'] .activeFilter {
  box-shadow: 0 0 12px 0px var(--accent-primary);
}

.selectWrapper {
  position: relative;
}

.difficultySelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  padding: 8px 32px 8px 16px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  font-family: inherit;
  font-size: 1rem;

  &:hover {
    border-color: var(--accent-primary);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-primary);
    box-shadow: 0 0 0 2px var(--accent-primary-lighter);
  }
}

.selectWrapper::after {
  content: '▼';
  font-size: 0.8rem;
  color: var(--text-secondary);
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
} 