@import '../../styles/_mixins';

.header {
  height: 70px;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  width: 100%;
  flex-shrink: 0;
  transition: background-color 0.2s, border-color 0.2s;
}

.headerLeft {
  flex: 1;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 1.5rem;
  cursor: pointer;

  @include mobile {
    display: block;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  flex: 2;
  gap: 24px;

  @include mobile {
    display: none;
  }
}

.link {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition: color 0.2s, background-color 0.2s;

  &:hover {
    color: var(--text-primary);
  }
}

.activeLink {
  composes: link;
  color: var(--accent-text-primary);
  background-image: var(--accent-gradient);

  &:hover {
    color: var(--accent-text-primary);
  }
}

[data-theme='dark'] .activeLink {
  box-shadow: 0 0 12px 0px var(--accent-primary);
}


.headerControls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 16px;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: all 0.2s;

  &:hover {
    color: var(--text-primary);
    background-color: var(--background-tertiary, #f0f0f0);
  }
}

.profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;

  span {
    font-weight: 500;
    color: var(--text-primary);
  }

  .icon {
    color: var(--accent-secondary);
  }
} 