@import '../../styles/variables.scss';

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 60px; // Уменьшил ширину
  height: 34px; // Уменьшил высоту
  cursor: pointer;
  transition: all 0.3s ease;
}

[data-theme='dark'] .toggleSwitch {
  box-shadow: 0 0 18px 2px rgba($fallback-accent-primary, 0.5); /* Усиливаем свечение */
  border-radius: 34px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d1c4e9; // Более темный и насыщенный фиолетовый
  transition: .4s;
  border-radius: 34px;
}

.handle {
  position: absolute;
  content: "";
  height: 26px; // Уменьшил высоту
  width: 26px; // Уменьшил ширину
  left: 4px;
  bottom: 4px;
  background-color: #673ab7; // Насыщенный фиолетовый для солнца
  transition: .4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 // box-shadow: 0 0 14px 4px rgba($fallback-accent-primary, 0.5); /* Фиолетовое свечение солнца */
}

input:checked + .slider {
  background-color: var(--background-primary); // Night sky
}

input:checked + .slider .handle {
  transform: translateX(26px); // Скорректировал сдвиг
  background-color: #e0e7ff; // Moon silver
  box-shadow: none;
}

.sun, .moon {
  font-size: 20px; // Уменьшил иконки
  transition: opacity 0.4s, transform 0.4s;
}

.sun {
  opacity: 1;
  transform: scale(1);
  color: white;
}

.moon {
  opacity: 0;
  transform: scale(0);
  color: var(--accent-primary-darker);
  position: absolute;
}

input:checked + .slider .sun {
  opacity: 0;
  transform: scale(0) rotate(90deg);
}

input:checked + .slider .moon {
  opacity: 1;
  transform: scale(1) rotate(0);
} 