@import '../styles/_mixins';

.appContainer {
  display: flex;
  height: 100vh;
}

.contentColumn {
  flex-grow: 1; 
  display: flex; 
  flex-direction: column;
  height: 100vh;
  position: relative;
  min-width: 0; /* Позволяет контейнеру сжиматься меньше его содержимого */
}

.mainContent {
  flex-grow: 1;
  padding: 3rem;
  transition: margin-left 0.3s ease;
  overflow-y: auto;
  /* margin-left: 330px; Убираем, flexbox справится сам */

  @include tablet {
    padding: 1.5rem;
    /* margin-left: 0; Тоже больше не нужно */
  }

  &.sidebarCollapsed {
    /* margin-left: 80px; И это тоже */
     @include tablet {
      /* margin-left: 0; */
    }
  }
} 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
} 