.homePageContainer {
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-primary);
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--text-secondary);
  font-weight: 400;
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
} 